{% extends 'defaultApp/main.html' %}

{% block mainInsert %}

<div class="card text-center">
    <div class="card-body">
      <h3 class="card-title">The First title</h3>
      <p class="card-text">This page is meant to be seen only by staff</p>


      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Department</th>
            <th scope="col">Comment</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <th scope="row">{{task.id}}</th>
            <th>{{ task.name }}</th>
            <th>{{ task.department.name }}</th>
            <th>{{ task.comment }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% endblock %}